*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 30px;
}

#canvas{
    background-color: whitesmoke;
}

#img-source{
    display: none;
}